<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
  <body>

    <h1>PROYECTOS ALEJANDRA</h1>
  </body>
</html>

<div class="card text-bg-dark">
  <img src="<%= asset_path('image.png') %>" alt="Image" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">PROYECTO SURICATA</h5>
    <p class="card-text">Carta menú para restaurante Suricata que incluye logos de metodos de pago
  </div>
</div>
<div class="card text-bg-dark">
  <img src="<%= asset_path('imgen-de-chile.jpg') %>" alt="Imagen de Chile" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">´PROYECTO VIAJES CHILE</h5>
    <p class="card-text"> Proyecto página web que incluye carrusel de imagenes con distintos paisajes chilenos  .</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
  <div class="card text-bg-dark">
  <img src="<%= asset_path('im.1.jpg') %>" alt="Im.1" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">PROYECTO RICOMIDA</h5>
    <p class="card-text">Blog de cocina que inclue recetas y tips .</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
<footer> </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
